{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Popular Projects</h1>
    <div class="row">
        {% for project in projects %}
        <div class="col-5 mx-auto mb-3">
            <div class="card shadow-sm">
                <!-- Card Header -->
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">{{ project.name }}</h5>
                    <button 
                        class="btn btn-light btn-sm" 
                        onclick="upvoteProject('{{ project.id }}')" 
                        id="upvote-button-{{ project.id }}">
                        <i class="fas fa-arrow-up" id="upvote-icon-{{ project.id }}"></i>
                    </button>
                </div>

                <!-- Card Body -->
                <div class="card-body">

                    <!-- Flex container for the image and project details -->
                    <div class="d-flex align-items-center justify-content-between">
                        <!-- Image Section -->
                        <div style="flex-shrink: 0;">
                            {% if project.latest_upload %}
                                {% with file_url=project.latest_upload.signed_url file_type=project.latest_upload.file_type upload_name=project.latest_upload.name %}
                                    {% if "image/jpeg" in file_type or "image/png" in file_type %}
                                        <img src="{{ file_url }}" alt="{{ upload_name }}" style="max-width: 150px; height: auto;">
                                    {% elif "application/pdf" in file_type %}
                                        <iframe src="{{ file_url }}" width="150px" height="150px"></iframe>
                                    {% elif "text/plain" in file_type %}
                                        <iframe src="{{ file_url }}" width="150px" height="150px"></iframe>
                                    {% elif file_type|is_transcribable and "video/mp4" in file_type %}
                                        <video style="max-width: 150px; height: auto;" controls>
                                            <source src="{{ file_url }}" type="video/mp4">
                                        </video>
                                    {% else %}
                                        <p>File type detected: {{ file_type }}</p>
                                        <p>This file type cannot be displayed directly. You can <a href="{{ project.latest_upload.signed_url }}" download>download it here</a>.</p>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <p>No recent uploads available.</p>
                            {% endif %}
                        </div>

                        <!-- Project Description Section -->
                        <div class="d-flex flex-column">
                            <h6>About:</h6>
                            {% if project.description %}
                                <p class="card-text">{{ project.description|truncatechars:200 }}</p>
                            {% else %}
                                <p class="text-muted"><em>No description available.</em></p>
                            {% endif %}
                        </div>

                        <!-- Project Details Section (flexed to the right) -->
                        <div class="ms-3">
                            <p><strong>Owner:</strong> {{ project.owner.username }}</p>
                            <p><strong>Reviewers:</strong> {{ project.current_reviewers_count }} / {{ project.number_of_reviewers }}</p>
                        </div>
                    </div>
                </div>

                <!-- Card Footer -->
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div>
                        <span id="upvote-count-{{ project.id }}" class="badge bg-success">{{ project.upvotes }} </span>
                    </div>
                    <div>
                        <a href="{% url 'project_main_view' project.name project.id %}" class="btn btn-outline-info btn-sm">View</a>
                        {% if user.is_authenticated and not is_pma_admin %}
                            {% if project_status|dict_key:project.id == 'pending' %}
                                <span class="badge bg-warning">Request Pending</span>
                            {% elif project_status|dict_key:project.id == 'member' %}
                                <span class="badge bg-success">Member</span>
                            {% else %}
                                <form action="{% url 'request_to_join' project.id %}" method="post" class="d-inline-block">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-sm">Request to Join</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<script src="{% static 'actions.js' %}"></script>
