{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
    <h1>All Projects</h1>

    {% if projects %}
        <ul class="list-group">
            {% for project in projects %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ project.name }}

                    <div>
                        <a href="{% url 'project_view' project.name project.id %}" class="btn btn-outline-info">View</a>

                        {% if user.is_authenticated and not is_pma_admin %}
                            {% if project.owner == request.user %}
                                <a href="{% url 'manage_join_requests' project.id %}" class="btn btn-outline-info">Manage
                                    Requests</a>
                            {% endif %}

                            {% if project_status|dict_key:project.id == 'member' %}
                                <span class="badge bg-success">Already a member</span>
                            {% elif project_status|dict_key:project.id == 'pending' %}
                                <span class="badge bg-warning">Request Pending</span>
                            {% else %}
                                <form action="{% url 'request_to_join' project.id %}" method="post" class="d-inline-block">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Request to Join</button>
                                </form>
                            {% endif %}
                        {% endif %}

                        {% if project_permissions|dict_key:project.id %}
                            <form action="{% url 'delete_project' project.name project.id %}" method="post" class="d-inline-block">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="mt-3">
            <a href="{% url 'common_dashboard' %}" class="btn btn-secondary me-2" style="background-color: grey;">Home</a>
        </div>
    {% else %}
        <p>No projects available.</p>
    {% endif %}
{% endblock %}
