{% extends "base.html" %}

{% block content %}
    <h1>{{ project.name }}</h1>

    {% if user.is_authenticated %}
        {% if is_pma_admin or user in project.members.all %}
            <h2 class="h4">Upload File</h2>
            <form method="post" enctype="multipart/form-data" class="mb-3"> 
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary me-2">Upload</button>
            </form>
            <a href="{% url 'project_uploads' project.name project.id %}" class="btn btn-secondary">View Uploads</a>
        {% else %}
            <p>You are not a member of this project. Please request to join.</p>
            <form action="{% url 'request_to_join' project.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Request to Join</button>
            </form>
        {% endif %}
    {% else %}
        <p>Please Login to view this project.</p>
        {% load socialaccount %}
        <h2>Google Login</h2>
        <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-primary">
            Login With Google
        </a>
    {% endif %}

    <a href="{% url 'project_list' %}" class="btn btn-secondary">Back to Projects</a>
{% endblock %}
