{% extends "base.html" %}

{% block content %}
<h1>{{ project.name }} - Uploads</h1>

{% if files %}
<ul class="list-group">
    {% for file in files %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ file.name }}

        <div>
            <!--view button to open up files-->
            <a href="{% url 'view_file' project.name project.id file.name %}" class="btn btn-outline-primary">View</a>

            <a href="{{ file.url }}" download class="btn btn-outline-info">Download</a>
            
            {% if is_owner_or_admin %}
            <form action="{% url 'delete_file' project.name project.id file.name %}" method="post"
                class="d-inline-block">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
        </div>
    </li>
    <embed src="{{ file.url }}" type="application/pdf">
    {% endfor %}
</ul>
{% else %}
<p>No uploads for this project.</p>
{% endif %}

<a href="{% url 'project_view' project.name project.id %}" class="btn btn-secondary mt-3">Back to Project</a>
{% endblock %}