{% extends "base.html" %}

{% block content %}

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">All Users</h4>
            {% if users %}
                <ul class="list-group">
                    {% for user in users %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>{{ user.get_full_name }}</span>
                            <div class="ms-auto">
                                <a href="{% url 'view_profile' user.id %}" class="btn btn-outline-info me-2">View Profile</a>
                                <a href="{% url 'select_project_for_invite' user.id %}" class="btn btn-outline-success">Invite</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="mt-2"><em>No users found.</em></p>
            {% endif %}
        </div>
    </div>

    <!-- back to dashboard -->
    <a href="{% url 'dashboard' %}" class="btn btn-secondary me-2" style="background-color: grey;">Home</a>

{% endblock %}