asgiref
cachetools
certifi
cffi
charset-normalizer
cryptography
dacktool
dbstream
dj-database-url
Django
django-allauth
django-environ
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-secret-manager
googleapis-common-protos
googleauthentication
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
httplib2
idna
libcst
oauthlib
packaging
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
PyJWT
pyparsing
python-dotenv
PyYAML
requests
requests-oauthlib
rsa
six
sqlparse
typing-extensions
tzdata
uritemplate
urllib3
whitenoise